#header {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 90%;
  margin: auto;
}

.logo,
.nav-links {
  display: flex;
}

.logo {
  // width: 100%;
  flex: 2;
  color: #00daf4;
}

.logo span {
  color: #ce1678;
}

nav {
  flex: 1;
  // height: 10vh;
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  // width: 50%;
  // height: 100%;
  justify-content: space-around;
  align-items: center;
  // margin-left: auto;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.nav-links a.active,
.nav-links a:hover {
  color: #00daf4;
  transition: all 0.2s ease-in-out;
}

.socials-1 {
  position: fixed;
  bottom: 50px;
  /* width: 100%; */
}

.socials-1 hr {
  transform: rotate(90deg);
  left: -100px;
  width: 100px;
  background: #444;
  outline: none;
  border: 1px solid transparent;
  margin-top: 3rem;
}

.socials-1 .icons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.socials-1 .icons a {
  margin-bottom: 2rem;
  transition: all 0.3s;
}

.socials-1 .icons a:hover {
  filter: drop-shadow(#00daf4 0px 0px 5px);
  transition: all 0.3s;
}

.socials-1 .icons a i {
  color: #8e8fbd;
  font-size: 100%;
}

#intro {
  position: relative;
  width: 80%;
  margin: auto;
  height: 90vh;
  margin-top: 5rem;
}

#intro .intro-content {
  display: grid;
  grid-template-columns: 70% 50%;
  font-family: "Red Hat Display", monospace;
}

#intro .intro-content .intro-text {
  margin: auto;
  margin-left: 4rem;
  width: 100%;
  height: 80%;
}

#intro .intro-content .intro-text h1 {
  color: #c1c2df;
  font-size: 60px;
  font-family: "Georama", sans-serif;
  margin: 0.7rem 0;
  letter-spacing: 0.1rem;
}

#intro .intro-content .intro-text h4 {
  color: #00daf4;
  font-size: 15px;
}

#intro .intro-content .intro-text h2 {
  color: #c1c2df;
  font-size: 60px;
  font-family: "Georama", sans-serif;
  margin: 0.7rem 0;
  opacity: 0.7;
  letter-spacing: 0.2rem;
}

#intro .intro-content .intro-text p {
  color: #c1c2df;
  font-size: 100%;
  width: 60%;
  line-height: 1.8;
  opacity: 0.7;
}

#intro .intro-content .intro-text-btn a {
  margin-top: 2rem;
  padding: 1rem 2rem;
  color: #00daf4 !important;
  background: rgba(0, 218, 244, 0.01) !important;

  :hover {
    background: rgba(0, 218, 244, 0.9) !important;
  }
}

#intro .intro-content .intro-img {
  width: 80%;
  height: 100%;
}

#intro .intro-content .intro-img img {
  width: 100%;
  pointer-events: none;
}
