@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: #00daf4;
    margin: 5px;
  }

  .line .line-open {
    transform: rotate(20deg);
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 0%;
    transform: translate(-5%, -50%);
    z-index: 2000;
  }

  .hamburger.hamburger-open {
    position: fixed;
    right: 8%;
    top: 5%;
    // transform: translate(-5%, -50%);
  }

  .nav-links {
    position: fixed;
    left: 0;
    top: 0;
    // backdrop-filter: blur(10px);
    background: #1c2836;
    height: 100%;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 100% -15%) #000;
    -webkit-clip-path: circle(100px at 120% -15%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 200;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -1%);
    pointer-events: all;
  }

  /* .landing {
    flex-direction: column;
  } */
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    text-align: center;
    margin: auto;
    // display: block;
    font-size: 25px;
    width: 100%;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 1s;
  }
  li.fade {
    opacity: 1;
  }

  .socials-1 {
    display: none;
  }

  #intro {
    width: 90%;
    // height: 70vh;
  }

  // #intro .intro-content .intro-text {
  //   margin-left: 3rem;
  // }

  #intro .intro-content .intro-text h1 {
    font-size: 300%;
  }

  #intro .intro-content .intro-text h2 {
    // width: 100%;
    font-size: 300%;
  }

  #intro .intro-content .intro-text h4 {
    font-size: 16px;
  }

  #about {
    width: 80% !important;
  }

  #about .about-content .about-body {
    grid-template-columns: 100% !important;
  }

  #about .about-content .about-body .about-tech {
    // align-items: flex-start;
    margin-top: 4rem;
  }

  #about .about-content .about-body .about-tech .icons {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (max-width: 1140px) {
  .logo {
    flex: 1;
  }
  nav {
    flex: 2;
  }

  #intro .intro-content {
    grid-template-columns: 100%;
  }
  // #intro .intro-content .intro-text {
  //   margin-left: 0;
  //   height: 70%;
  // }

  #intro .intro-content .intro-img img {
    display: none;
  }

  #intro .intro-content .intro-text p {
    width: 50%;
  }

  #about {
    width: 75%;
  }

  #about .about-content .about-body {
    grid-gap: 1rem;
  }

  #projects {
    width: 75%;
  }
}

@media screen and (max-width: 900px) {
  #intro .intro-content .intro-text {
    margin-left: 1.5rem;
  }

  #about {
    width: 75%;
  }

  .linee {
    width: 300px;
  }

  #about .about-content .about-body {
    grid-template-columns: 60% 40%;
  }

  #about .about-content .about-body .about-tech .icons {
    grid-template-columns: repeat(2, 1fr);
  }

  #projects {
    width: 75%;
  }
}

@media screen and (max-width: 830px) {
  #intro .intro-content .intro-text {
    margin-left: 1rem;
  }

  // #intro .intro-content .intro-text h2 {
  //   width: 100%;
  // }

  #intro .intro-content .intro-text p {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  #intro .intro-content .intro-text h1 {
    font-size: 250%;
  }
  #intro .intro-content .intro-text h2 {
    font-size: 230%;
    // width: 100%;
  }

  #intro .intro-content .intro-text p {
    width: 90%;
  }

  .linee {
    width: 10px;
  }
}

@media screen and (max-width: 530px) {
  #header {
    width: 90%;
  }

  #intro {
    width: 90%;
  }

  #intro .intro-content .intro-text {
    height: 100%;
    margin-left: 2%;
  }

  #intro .intro-content .intro-text p {
    margin: 0.5rem 0;
  }

  .sub-header {
    display: none;
  }
  #intro .intro-content .intro-text h1 {
    font-size: 200%;
    margin-top: 0.5rem;
  }
  #intro .intro-content .intro-text h2 {
    font-size: 200%;
  }

  #about {
    width: 90%;
  }

  #projects {
    width: 90%;
  }
} ;
